[www]

user = $WP_PHP_USER
group = $WP_PHP_GROUP

listen = 9000

listen.owner = $WP_PHP_LISTEN_OWNER
listen.group = $WP_PHP_LISTEN_OWNER

pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
pm.max_requests = 100

clear_env = false
